<!DOCTYPE html>

<head>

    <!--- Basic Page Needs
   ================================================== -->
    <meta charset="utf-8">
    <title>Urbano Gutierrez CV</title>
    <meta name="description" content="Urbano Gutierrez CV">
    <meta name="author" content="Urbano Gutierrez">

    <!-- Mobile Specific Metas
   ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="/static/css/default.css">
    <link rel="stylesheet" href="/static/css/layout.css">
    <link rel="stylesheet" href="/static/css/media-queries.css">
    <link rel="stylesheet" href="/static/css/magnific-popup.css">

    <!-- Script
   ================================================== -->
    <script src="/static/js/modernizr.js"></script>

    <!-- Favicons
	================================================== -->
    <link rel="shortcut icon" href="/static/favicon.png">

</head>

<body>

    <!-- Header
   ================================================== -->
    <header id="home">

        <nav id="nav-wrap">

            <a class="mobile-btn" href="#nav-wrap" title="Show navigation">Show navigation</a>
            <a class="mobile-btn" href="#" title="Hide navigation">Hide navigation</a>

            <ul id="nav" class="nav">
                <li class="current"><a class="smoothscroll" href="#home">Home</a></li>
                <li><a class="smoothscroll" href="#about">About</a></li>
                <li><a class="smoothscroll" href="#resume">Resume</a></li>
            </ul> <!-- end #nav -->

        </nav> <!-- end #nav-wrap -->

        <div class="row banner">
            <div class="banner-text">
                <h2 class="responsive-headline">Hi!</h2>
                <h1 class="responsive-headline">I'm Urbano Gutierrez</h1>
                <h3>
                    <span>
                        I'm a Barcelona based junior Python developer. Self-taught coder, algorithmic trader, system administrator and web designer.
                    </span>
                </h3>
                    <ul class="social">
                        <li><a href="https://twitter.com/UrbiGT" target="_blank"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="https://www.linkedin.com/in/urbangt" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="https://github.com/urbanonymous" target="_blank"><i class="fa fa-github"></i></a></li>
                    </ul>
            </div>
        </div>

        <p class="scrolldown">
            <a class="smoothscroll" href="#about"><i class="icon-down-circle"></i></a>
        </p>

    </header> <!-- Header End -->


    <!-- About Section
   ================================================== -->
    <section id="about">

        <div class="row">

            <div class="three columns">

                <img class="profile-pic" src="/static/images/profile.png" alt="" />

            </div>

            <div class="nine columns main-col">

                <h2>About Me</h2>

                <p>A proactive, resourceful and highly organized individual with the ability to manage multiple
                    projects at the same time.

                    Self-taught coder since 15 years old, currently looking for a full time Python developer role in Barcelona.
                </p>

                <div class="row">

                    <div class="columns contact-details">

                        <h2>Contact Details</h2>
                        <p class="address">
                            <span>Urbano Gutierrez (22)</span><br>
                            <span>Barcelona<br>
                                <span>08025</span><br>
                                <span>ugutitej@gmail.com</span>
                        </p>

                    </div>

                    <div class="columns download">
                        <p>
                            <a href="/download/cv" download class="button"><i class="fa fa-download"></i>Download
                                Resume</a>
                        </p>
                        <p>
                            <a href="/download/vc" download class="button"><i class="fa fa-download"></i>Download
                                Visit Card</a>
                        </p>
                    </div>

                </div> <!-- end row -->

            </div> <!-- end .main-col -->

        </div>

    </section> <!-- About Section End-->


    <!-- Resume Section
   ================================================== -->
    <section id="resume">

        <!-- Work
      ----------------------------------------------- -->
        <div class="row work">

            <div class="three columns header-col">
                <h1><span>Work</span></h1>
            </div>

            <div class="nine columns main-col">

                <div class="row item">

                    <div class="twelve columns">

                        <h3>Mía Restaurant (London)</h3>
                        <p class="info">Waiter<span>&bull;</span> <em class="date">September 2016 - May 2017</em></p>

                        <p>
                            Worked in a fast-paced and stressful environment. Focused on the customer's satisfaction 
                            by giving an excellent service and having in mind their preferences.
                        </p>

                    </div>

                </div> <!-- item end -->

                <div class="row item">

                    <div class="twelve columns">

                        <h3>Freelancer (Spain - Online)</h3>
                        <p class="info">Junior Python Developer<span>&bull;</span> <em class="date">August 2017 -
                            October 2017 </em></p>

                        <p>
                            Created a multiplatform (Windows, Android) GUI app using Python - Kivy, 
                            the app consists in a manager of assets (crypto, banks) with a connection to a backend based in Flask
                            and connections to various exchanges using REST APIs.
                        </p>
                        <p>
                            Made some data mining with Python, Requests, Selenium Webdriver and Beautifulsoup4.
                        </p>

                    </div>

                </div> <!-- item end -->
                
                <div class="row item">

                    <div class="twelve columns">

                        <h3>Fat Whale (Spain - Online)</h3>
                        <p class="info">Junior Python Developer<span>&bull;</span> <em class="date">June 2017 -
                            July 2018 </em></p>

                        <p>
                            Arranged a set of projects for the company, which main focus was creating an AI for crypto markets.
                        </p>
                        <p>
                            Integrated some web services between social platforms for our team communications using APIs and Python backends using Flask and MongoDB.
                            Some of them: Asana, Discord, Telegram, Skype, Monday, Slack, Sentry, AWS, GoogleCloud, Docker, CircleCI.
                        </p>
                        <p>
                            Established CircleCI, Docker Swarm - Hub, pytest, for continuous integration and delivery in our Github projects.
                        </p>
                        <p>
                            Created webApps (HTML5, CSS3, JavaScript, Python) to research transactions of Ethereum and recovery of lost IOTA funds with proper backends in Flask.
                        </p>
                        <p>
                            Built a data mining engine in Python called HAWK and an account management system for it.

                            It collects data from social networks (Twitter, Reddit, Telegram, Slack...) to feed our internal machine learning trading models.
                            Used Python, Redis, MongoDB, AWS, GoogleCloud, Docker, Flask, StackDriver.
                        </p>
                        <p>
                            Created a GUI using Python Kivy for our internal backtesting engine that uses Backtrader and Python backends.
                        </p>
                        <p>
                            Built command line interfaces for our internal system administration scripts, using Python, Click.
                        </p>
                        <p>
                            Implemented interconnections  between our trading backends and crypto trading exchanges (Binance, Gdax, Bittrex) using Python and their APIs.
                        </p>
                        <p>
                            Constructed chatbots for our social media customers relays (Python, MongoDB APIs) at Telegram, Skype and Discord.
                        </p>

                    </div>

                </div> <!-- item end -->

                <div class="row item">

                    <div class="twelve columns">

                        <h3>Freelancer (Spain - Online)</h3>
                        <p class="info">Junior Python Developer<span>&bull;</span> <em class="date">August 2018 -
                            Now </em></p>

                        <p>
                            Developed a time management multiplatform app using Python, Kivy, having its backend in Flask and MongoDB, inside Google Cloud.
                        </p>
                        <p>
                            Created a webApp using Bootstrap for a task management website, connected with crypto blockchains. Python, HTML, CSS, JavaScript, jQuery.
                        </p>

                    </div>

                </div> <!-- item end -->
            </div> <!-- main-col end -->

        </div> <!-- End Work -->


        <!-- Skills
      ----------------------------------------------- -->
        <div class="row skill">

            <div class="three columns header-col">
                <h1><span>Skills</span></h1>
            </div>

            <div class="nine columns main-col">
                <div class="row item">

                    <div class="twelve columns">

                        <p class="info">Experienced</p>

                        <p>
                            Python3, Flask, Kivy, Click, Requests, pytest, multiprocessing, REST APIs, MongoDB,  Win 7, 10, Ubuntu Server
                        </p>
                            

                    </div>

                </div> <!-- item end -->
                <div class="row item">

                    <div class="twelve columns">

                        <p class="info">Confident</p>

                        <p>
                            CircleCI, Selenium Webdriver, Github, Docker Swarm, Git Flow, Asana, Monday, Sentry
                        </p>
                        <p>
                            HTML, JavaScript, CSS, XML, Bootstrap, unittest, Redis, Inkscape, Gimp, Visual Studio Code, Atom, Sublime text 3
                        </p>
                            

                    </div>
    
                </div> <!-- item end -->
                <div class="row item">

                    <div class="twelve columns">

                        <p class="info">Confortable</p>

                        <p>
                            AWS, Agile, jQuery, VMware, Google Cloud, K8S, StackDriver, Django, SQlite, PostgreSQL, Photoshop, Illustrator
                        </p>    

                    </div>
    
                </div> <!-- item end -->
                <div class="row item">

                    <div class="twelve columns">

                        <p class="info">Learning</p>

                        <p>
                            Ansinble, Fabric, Jenkins, Bash, Chef, Puppet, ReactJS, R, OpenCV, Keras, Elastic search, Logstash, Telegraf, Kibana, Jira
                        </p>    

                    </div>
    
                </div> <!-- item end -->
            
            </div> <!-- main-col end -->

        </div> <!-- End skills -->

        <div class="row education">

            <div class="three columns header-col">
                <h1><span>Education</span></h1>
            </div>

            <div class="nine columns main-col">

                <div class="row item">

                    <div class="twelve columns">

                        <h3>IES Puerto del Rosario</h3>
                        <p class="info">Bachillerato  <span>&bull;</span> <em class="date">August 2014</em></p>

                    </div>

                </div> <!-- item end -->

            </div> <!-- main-col end -->

        </div> <!-- End Education -->

    </section> <!-- Resume Section End-->

    <!-- footer
   ================================================== -->
    <footer>

        <div class="row">

            <div class="twelve columns">

                <ul class="social-links">
                    <li><a href="https://twitter.com/UrbiGT" target="_blank"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="https://www.linkedin.com/in/urbangt" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="https://github.com/urbanonymous" target="_blank"><i class="fa fa-github"></i></a></li>
                </ul>

                <ul class="copyright">
                    <li>Urbano Gutierrez</li>
                </ul>

            </div>

            <div id="go-top"><a class="smoothscroll" title="Back to Top" href="#home"><i class="icon-up-open"></i></a></div>

        </div>

    </footer> <!-- Footer End-->

    <!-- JavaScript
   ================================================== -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery-migrate-1.2.1.min.js"></script>

    <script src="/static/js/jquery.flexslider.js"></script>
    <script src="/static/js/waypoints.js"></script>
    <script src="/static/js/jquery.fittext.js"></script>
    <script src="/static/js/magnific-popup.js"></script>
    <script src="/static/js/init.js"></script>
</body>

</html>